.page-footer {
    padding-top: 10rem;
    padding-bottom: 7.5rem;
    background: #011f3a;
    color: white;

    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}

.page-footer__row {
    @include grid();

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}

.page-footer__col {
    display: flex;
    flex-direction: column;
    @include breakpointMF(small-tablet) {
        &:nth-child(1) {
            grid-column: span 4;
        }

        &:nth-child(2) {
            grid-column: span 5;
        }

        &:nth-child(3) {
            grid-column: span 7;
        }
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__phone-link {
    font-weight: 600;
    font-size: 3.5rem;
    display: inline-flex;
    line-height: 115%;
    margin-bottom: 2.5rem;
    align-self: flex-start;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 2rem;
        line-height: 100%;
    }

    @include underline-large();
}

.page-footer__callback-btn {
    margin-bottom: auto;

    @include breakpoint(mobile) {
        margin: 0;
        order: 10;
        margin-bottom: 2.5rem;
    }
}

.page-footer__made-by {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    margin-top: 3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
    color: rgba(white, 0.5);
    margin-bottom: -1rem;
    &:link,
    &:visited {
        color: rgba(white, 0.5);
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;

        .page-footer__made-by-logo {
            opacity: 1;
        }
    }

    @include breakpoint(mobile) {
        order: 20;
        margin: 0;
    }
}

.page-footer__made-by-logo {
    flex-shrink: 0;
    width: 11.5rem;
    height: auto;
    margin-left: 1.1rem;
    opacity: 0.5;
    transition: opacity 0.2s;
    position: relative;
    bottom: -0.3rem;

    @include breakpoint(mobile) {
        width: 9.6rem;
    }
}

.page-footer__email-link {
    font-weight: 600;
    font-size: 3.5rem;
    display: inline-flex;
    line-height: 115%;
    margin-bottom: 2.8rem;
    align-self: flex-start;

    @include underline-large();

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 2rem;
        line-height: 100%;
    }
}

.page-footer__address {
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
    color: rgba(white, 0.5);
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 115%;
        margin-bottom: 2.5rem;
    }
}

.page-footer__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: auto;

    @include breakpoint(mobile) {
        margin: 0;
        order: 12;
        margin-bottom: 2.5rem;
    }
}

.page-footer__mobile-divider {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #0D3355;
        margin-bottom: 3rem;
        order: 13;
    }
}

.page-footer__social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    color: white;

    &:link,
    &:visited {
        color: white;
    }

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
    }

    &.muted {
        color: rgba(white, 0.7);
    }
}

.page-footer__copyright {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
    color: rgba(white, 0.5);
    margin-bottom: 2.5rem;
    display: inline-flex;
    align-self: flex-start;
    margin-top: 3rem;

    @include breakpoint(mobile) {
        margin: 0;
        order: 18;
        margin-bottom: 2.5rem;
    }
}

.page-footer__policy {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
    color: rgba(white, 0.5);
    align-self: flex-start;
    &:link,
    &:visited {
        color: rgba(white, 0.5);
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
    }

    @include underline();

    @include breakpoint(mobile) {
        order: 16;
        margin-bottom: 2.5rem;
    }
}

.page-footer__nav {
    @include breakpoint(mobile) {
        display: none;
    }
}

.page-footer__nav-list {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-gap: 3rem;
    grid-row-gap: 5rem;
}

.page-footer__nav-list-item {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
}

.page-footer__nav-section-link {
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 115%;
    margin-bottom: 2.5rem;
    display: block;
    align-self: flex-start;

    @include underline-large();
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__nav-inner-list-item {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__nav-inner-link {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 100%;
    color: rgba(white, 0.7);
    &:link,
    &:visited {
        color: rgba(white, 0.7);
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
    }

    @include underline();
}
